<!DOCTYPE html>
<!-- Declares the root element that allows behaviour to be modified through Angular custom HTML tags. -->
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Sede B</title>

    <!-- build:css css/third-party.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/dependencies/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="lib/dependencies/css/ng-grid.min.css"/>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css css/application.css -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!-- endbuild -->

    <!-- build:js lib/third-party.js -->
    <!-- bower:js -->
    <script src="lib/dependencies/angular.min.js"></script>
    <script src="lib/dependencies/angular-resource.min.js"></script>
    <script src="lib/dependencies/jquery.min.js"></script>
    <script src="lib/dependencies/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/dependencies/bootstrap.min.js"></script>
    <script src="lib/dependencies/ng-grid.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js script/all.js -->
    <script src="script/index.js"></script>
    <script src="script/item.js"></script>
    <script src="script/venda.js"></script>
    <!-- endbuild -->
</head>

<body>

<h1>Sede A</h1>

<br/>

<!-- Specify a Angular controller script that binds Javascript variables to the feedback messages.-->
<div class="message" ng-controller="alertMessagesController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#items" data-toggle="tab">
                                Itens </a>
                        </li>
                        <li>
                            <a href="#vendas" data-toggle="tab">
                                Vendas </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <fieldset class="tab-pane active" id="items">
                            <fieldset class="col-md-12" style="margin-top: 15px" ng-include="'item.html'">
                            </fieldset>
                        </fieldset>
                        <fieldset class="tab-pane" id="vendas">
                            <fieldset class="col-md-12" style="margin-top: 15px" ng-include="'venda.html'">
                            </fieldset>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
